<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Server=DESKTOP-ET4OTK6\SQLEXPRESS;Database=Conditerydb;Trusted_Connection=True;TrustServerCertificate=true;"/>
		<add key="groupToken" value="vk1.a.BEed2F1ppev8SvdVzRbzJcQx6t-zx98FpVV7Q4mCqQZ8_-JzBXbMBYwgCQKRrwHcP2G-AlF8clg3Jgm20t9ubelFv5xC1m2XrfWD48fdbJcM35Fta74wYxJPMf4jrahumVprWG16l9yvuT70H_QCzMUtZudD4qDS6tBvv9VfCeQml3adZ2ahgrjUdhAu85GPeSJkSX4U9G3mWzq45Uz3IQ"/>
		<add key="groupUri" value="https://vk.com/club217152512"/>
	</appSettings>
</configuration>
