<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="Server=DESKTOP-ET4OTK6\SQLEXPRESS;Database=Conditerydb;Trusted_Connection=True;TrustServerCertificate=true;"/>
		<add key="groupToken" value="{PUT YOUR TOKEN HERE}"/>
		<add key="groupUri" value="https://vk.com/club216986922"/>
	</appSettings>
</configuration>
